@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-normalfont {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }

  /* navbar style */
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
  }
  .navname{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    text-align: left;
    margin-left: 150px;
  }
  .navbtn{
    
    
  }
  #dnbtn{
    color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
line-height: 23px;
text-align: center;
border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    background-color: white;
    
    padding: 17px 24px 17px 24px;
    margin-right: 150px;
  }

/* section 1 title */
.sec-1{
    background-image:url(/assets/Hero-bg.png);
    max-height: 652px;
    padding: 26px 226px 44px 226px;
}
.sec-1-div{
    margin: auto;
    display: flex;
    flex-direction: column;
    
}
.hero-png{
    max-width: 240px;
    max-height: 240px;
}
.sec-1-div-img{
    margin: auto;
}

.sec-1-title{

text-align: center;
}
.sec-1-para{
text-align: center;
}
.sec-1-div-btn{
    margin: auto;

}
.sec-1-btn{
    margin-top: 32px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 600;
text-align: center;
padding: 21px 24px 21px 24px;
}

/* main section */
/* why part */
.sec-2{
    padding: 80px 97px 80px 97px;
    background-color: rgba(13, 19, 33, 0.02);
    margin-top: 74px;
    margin-left:150px ;
    margin-bottom:74px ;
    margin-right: 150px;
    border-radius: 16px;
}
.sec-2H{
    color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
text-align: center;
}
.sec-2P{
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
text-align: center;
    padding: 0px 48px 0px 48px;
}
.sec-2-div-1{
    display: flex;
    padding: 48px;
    gap: 98px;
    background-image:linear-gradient( rgba(255, 255, 255, 0)) ;
}
.div-11{
}
.div-11i{}
.sec-2-div-2{
    display: flex;
    padding: 48px;
    gap: 98px;
    background-image:linear-gradient( rgba(255, 255, 255, 0)) ;
}
.div-22i{}
.div-22{}
.sec-2-div-3{
    display: flex;
    padding: 48px;
    gap: 98px;
    background-image:linear-gradient( rgba(255, 255, 255, 0)) ;
}
.div-33{}
.div-33i{}

.sec-2-sub{
    color: rgba(13, 19, 33, 0.7);
font-size: 24px;
font-weight: 700;
text-align: left;

}
.sec-2-subP{
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;

}
.sub-btn{
border: 1px solid rgb(13, 19, 33);
padding: 12px 20px 12px 20px ;
border-radius: 5px;
font-size: 20px;
font-weight: 600;
opacity: 0.7;
}
/* section 3 style */
.sec-3{
    margin-top: 74px;
    margin-left:150px ;
    margin-bottom:74px ;
    margin-right: 150px;
}
#video{
    width: 1076px;
    height: 550px;
    border-radius: 10px; 
}
.vd-div{
    padding: 30px;

}
.sec-3-div-h{
    margin: auto;
    padding: 48px;
}
.sec-3-main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* section 4 style */
.sec-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 111px;
}
.sec-4-div2{
    display:flex;
    gap:20px;
    align-items: center;
}
.skill-con{
    padding: 40px;
    border-radius: 16px;

}
.skill-name{
    color: rgb(13, 19, 33);
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.skill-p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left; 
}
.a-more{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
}

/* support style */
.sec-5{
    height: 313px;
    background-image: url(/assets/handshake.jpg);
    opacity: 2;
    background-size: cover;
    background-repeat: none;
    padding: 64px 48px 64px 48px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 16px;
    margin-bottom: 79px;
}
.last-dv1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last-dv2{
    margin-top: 24px;
    display: flex;
    gap: 15px;
}

.last-h{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
}

.last-p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.text{
    padding: 15px 20px 15px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgba(13, 19, 33, 0.4);
font-size: 16px;
font-weight: 400;
line-height: 19px;
text-align: center;
}

.sub{
    border-radius: 8px;
background: rgb(255, 255, 255);
padding: 12px 20px 12px 20px;
color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
line-height: 23px;
text-align: center;
}

footer{
    padding: 32px 150px 32px 150px;
    display: flex;
    align-items: center;
    background-color: rgba(13, 19, 33, 0.03);
    justify-content: space-between;
}
.foot-text{
    color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
line-height: 23px;
text-align: center;
}

